<!doctype html>
<html>
<head>
	<style>
		div {
  		box-sizing: border-box;
  		width: 300px;
  		height: 200px;
  		padding: 37px 34px 32px 52px;
		margin: 88px 10px 10px 428px;
  		border: 10px solid blue;

		}

	</style>

</head>
<body>
	<div class="container">
		<input type="text" id="user" value="" placeholder="User Name"><br><br>
		<input type="password" id="pass" value="" placeholder="Password"><br><br>
		<button id="btn">Login</button>
	</div>
</body>



</html>