<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
    <h2><ins>Product Cost Details:</ins></h2>
    <form action="/SecondApp/product_total/">
        <label for="mobile">Mobile Cost:</label><input type="text" id="mobile" name="mobile" required><br><br>
        <label for="laptop">Laptop Cost:</label><input type="text" id="laptop" name="laptop" required><br><br>
        <label for="desktop">Desktop Cost:</label><input type="text" id="desktop" name="desktop" required><br><br>
        <label for="keyboard">KeyBoard Cost:</label><input type="text" id="keyboard" name="keyboard" required><br><br>
        <label for="mouse">Mouse Cost:</label><input type="text" id="mouse" name="mouse" required><br><br>
        <input type="submit" id="Submit" name="Submit"><br><br>
    </form>
</body>
</html>